<html>
    <head>
        <link rel="stylesheet" href="/main.css">
        <script src="/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <style>
            body {
                background: var(--good);
                flex-direction: column;
            }
        </style>
        <p class="attack_title">SUCCESS</p>
        <p class="attack_subtitle">You can attack the guard</p>
    </body>
</html>