<html>
    <head>
        <link rel="stylesheet" href="/main.css">
        <script src="/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <script class="removal">
            $("body link").remove();
            $("style").remove();
            $("p").remove();
            $(".removal").remove();
        </script>
        <style>
            body {
                background: var(--bad2);
                flex-direction: column;
            }
        </style>
        <p class="attack_title">FAIL</p>
        <p class="attack_subtitle">Try another code</p>
    </body>
</html>