<html>
    <head>
        <link rel="stylesheet" href="/main.css">
        <script src="/jquery-3.6.0.min.js"></script>
        <script src="/remote.js" defer></script>
    </head>
    <body>
        <style>
            body {
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr;
                row-gap: 20px;
            }
        </style>
        <div class="big_button attack">ATTACK</div>
        <div class="big_button repair">REPAIR</div>
    </body>
</html>