<html>
    <head>
        <link rel="stylesheet" href="/main.css">
        <script src="/jquery-3.6.0.min.js"></script>
        <script src="/spectator.js" defer></script>
    </head>
    <body>
        <style>
            body {
                flex-direction: column;
            }
        </style>
        <p class="spectator_text subtitle">Guard is currently</p>
        <p class="spectator_text title">Starting system</p>
        <ul class="spectator_list">
        </ul>
    </body>
</html>